{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron jumbotron-fluid mb-0 pb-4">
        <div class="container">
          <h1 class="display-3" style="font-weight:700"><a href="{{ url_for('rate') }}" style="color:black">Movie Recommender</a></h1>
          <p class="lead" style="font-weight:400">Get Movie Recommendations based on your ratings.</p>
        </div>
    </div>
    <div class="row">
        <div class="col btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="mx-auto" role="group" aria-label="First group">
                <button type="button" class="btn btn-outline-danger collapsed"data-toggle="collapse" data-target="#newReleases" aria-expanded="false" aria-controls="newReleases">New Releases</button>
                <button type="button" class="btn btn-outline-danger collapsed" data-toggle="collapse" data-target="#topRated" aria-expanded="false" aria-controls="topRated">Top Rated</button>
                <button type="button" class="btn btn-outline-danger collapsed "data-toggle="collapse" data-target="#comingSoon" aria-expanded="false" aria-controls="comingSoon">Coming Soon</button>
            </div>
        </div>
    </div>
    
    <div class="collapse" id="newReleases"aria-labelledby="newReleases">
        <div class="row mt-4">
            {% for movie in newReleases %}
                <div class=" col-md-3 col-sm-6">
                    <img src={{ movie.thumb }} alt="Movie 1" class="img-thumbnail">
                    <h5>{{ movie.title }}</h5>
                    <p>{{ movie.year }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="collapse" id="topRated" aria-labelledby="topRated">
        <div class="row mt-4">
            {% for movie in topRated %}
                <div class=" col-md-3 col-sm-6">
                    <img src={{ movie.thumb }} alt="Movie 1" class="img-thumbnail">
                    <h5>{{ movie.title }}</h5>
                    <p>{{ movie.year }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="collapse" id="comingSoon" aria-labelledby="comingSoon">
        <div class="row mt-4">
            {% for movie in comingSoon %}
                <div class=" col-md-3 col-sm-6">
                    <img src={{ movie.thumb }} alt="Movie 1" class="img-thumbnail">
                    <h5>{{ movie.title }}</h5>
                    <p>{{ movie.year }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock content %}