{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron jumbotron-fluid pb-4 my-0">
        <div class="container">
            <h1 class="display-3" style="font-weight:700">Predicted movies</h1>
            <p class="lead" style="font-weight:400">Top 10 movies on your ratings</p>
        </div>
    </div>
    <div class="row mt-4">
        {% for movie in movies %}
            <div class=" col-md-3 col-sm-6">
                <img src={{ movie.thumb }} alt="Movie 1" class="img-thumbnail">
                <h5>{{ movie.title }}</h5>
                <p>{{ movie.year }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}